.character {
    text-align: center;
    margin: 0 auto;
    width: 1100px;

    &__title {}

    &__image {
        img {
            width: 100%;
            max-width: 450px;
        }
    }

    &__lists {
        width: 1100px;
        display: flex;
        justify-content: space-around;
    }

    &__list {
        width: 33.333%;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                padding: 5px 0;
            }
        }
    }

    &__list-title {}
}
