{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env",
      {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "emotion",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ]
}
