.character {
  max-width: 1280px;
  text-align: center;
  margin: 0 auto;

  &__title {
  }
  &__image {
    img {
      width: 100%;
      max-width: 450px;
    }
  }
  &__lists {
    display: flex;
    justify-content: space-around;
    max-width: 1280px;
  }
  &__list {
    width: 33.333%;
    border: 2px solid red;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        padding: 5px 0;
    border: 2px solid red;

      }
    }
  }
  &__list-title {

  }
}
